# HW 11 - Assignment 2

### Importing packages

In [172]:
import os
import geopandas as gpd
import zipfile as zp
import pandas as pd
import json
import urllib as ulr
import numpy as np
import shapely
from shapely.geometry import Point
from shapely.geometry import Polygon
from sklearn.metrics import silhouette_samples, silhouette_score
from scipy.cluster.vq import kmeans2
import sklearn.cluster
from sklearn import mixture
%matplotlib inline
import matplotlib.pylab as plt

### Downloading business zip data

In [173]:
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1993/zbp93totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1994/zbp94totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1995/zbp95totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1996/zbp96totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1997/zbp97totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1998/zbp98totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/1999/zbp99totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2000/zbp00totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2001/zbp01totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2002/zbp02totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2003/zbp03totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2004/zbp04totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2005/zbp05totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2006/zbp06totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2007/zbp07totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2008/zbp08totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2009/zbp09totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2010/zbp10totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2011/zbp11totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2012/zbp12totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2013/zbp13totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2014/zbp14totals.zip'
!curl -O 'http://www2.census.gov/programs-surveys/cbp/datasets/2015/zbp15totals.zip'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  139k    0  139k    0     0   629k      0 --:--:-- --:--:-- --:--:--  717k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  597k  100  597k    0     0  3026k      0 --:--:-- --:--:-- --:--:-- 3110k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  610k  100  610k    0     0  2357k      0 --:--:-- --:--:-- --:--:-- 2404k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  617k  100  617k    0     0  3298k      0 --:--:-- --:--:-- --:--:-- 3375k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  614k  100  614k    0     0  3623k      0 --:--:-- --:--:-- --:--:-- 3747k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  603k  100  603k    0     0  1075k      0 --:--:-- --:--:-- --:--:-- 1085k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  611k  100  611k    0     0  3516k      0 --:--:-- --:--:-- --:--:-- 3637k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  613k  100  613k    0     0  3454k      0 --:--:-- --:--:-- --:--:-- 3547k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  614k  100  614k    0     0  3091k      0 --:--:-- --:--:-- --:--:-- 3165k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  606k  100  606k    0     0  3178k      0 --:--:-- --:--:-- --:--:-- 3259k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  608k  100  608k    0     0  3267k      0 --:--:-- --:--:-- --:--:-- 3378k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  611k  100  611k    0     0  3289k      0 --:--:-- --:--:-- --:--:-- 3357k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  612k  100  612k    0     0  3556k      0 --:--:-- --:--:-- --:--:-- 3669k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  614k  100  614k    0     0  1251k      0 --:--:-- --:--:-- --:--:-- 1261k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  652k  100  652k    0     0  2427k      0 --:--:-- --:--:-- --:--:-- 2479k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  647k  100  647k    0     0  2511k      0 --:--:-- --:--:-- --:--:-- 2570k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  644k  100  644k    0     0  2157k      0 --:--:-- --:--:-- --:--:-- 2185k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  778k  100  778k    0     0  3728k      0 --:--:-- --:--:-- --:--:-- 3836k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  776k  100  776k    0     0  3148k      0 --:--:-- --:--:-- --:--:-- 3209k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  716k  100  716k    0     0  2439k      0 --:--:-- --:--:-- --:--:-- 2487k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  716k  100  716k    0     0  2612k      0 --:--:-- --:--:-- --:--:-- 2663k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  717k  100  717k    0     0  3310k      0 --:--:-- --:--:-- --:--:-- 3399k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  139k    0  139k    0     0   439k      0 --:--:-- --:--:-- --:--:--  446k

In [174]:
os.system('mkdir data')

256

In [175]:
os.system('mv zbp**totals.zip data')

0

### Upload the data with pandas

In [176]:
zf94 = zp.ZipFile('data/zbp94totals.zip')
zf95 = zp.ZipFile('data/zbp95totals.zip')
zf96 = zp.ZipFile('data/zbp96totals.zip')
zf97 = zp.ZipFile('data/zbp97totals.zip')
zf98 = zp.ZipFile('data/zbp98totals.zip')
zf99 = zp.ZipFile('data/zbp99totals.zip')
zf00 = zp.ZipFile('data/zbp00totals.zip')
zf01 = zp.ZipFile('data/zbp01totals.zip')
zf02 = zp.ZipFile('data/zbp02totals.zip')
zf03 = zp.ZipFile('data/zbp03totals.zip')
zf04 = zp.ZipFile('data/zbp04totals.zip')
zf05 = zp.ZipFile('data/zbp05totals.zip')
zf06 = zp.ZipFile('data/zbp06totals.zip')
zf07 = zp.ZipFile('data/zbp07totals.zip')
zf08 = zp.ZipFile('data/zbp08totals.zip')
zf09 = zp.ZipFile('data/zbp09totals.zip')
zf10 = zp.ZipFile('data/zbp10totals.zip')
zf11 = zp.ZipFile('data/zbp11totals.zip')
zf12 = zp.ZipFile('data/zbp12totals.zip')
zf13 = zp.ZipFile('data/zbp13totals.zip')
zf14 = zp.ZipFile('data/zbp14totals.zip')

In [177]:
df_94 = pd.read_csv(zf94.open('zbp94totals.zip'.replace('.zip','.txt')))
df_95 = pd.read_csv(zf95.open('zbp95totals.zip'.replace('.zip','.txt')))
df_96 = pd.read_csv(zf96.open('zbp96totals.zip'.replace('.zip','.txt')))
df_97 = pd.read_csv(zf97.open('zbp97totals.zip'.replace('.zip','.txt')))
df_98 = pd.read_csv(zf98.open('zbp98totals.zip'.replace('.zip','.txt')))
df_99 = pd.read_csv(zf99.open('zbp99totals.zip'.replace('.zip','.txt')))
df_00 = pd.read_csv(zf00.open('zbp00totals.zip'.replace('.zip','.txt')))
df_01 = pd.read_csv(zf01.open('zbp01totals.zip'.replace('.zip','.txt')))
df_02 = pd.read_csv(zf02.open('zbp02totals.zip'.replace('.zip','.txt')))
df_03 = pd.read_csv(zf03.open('zbp03totals.zip'.replace('.zip','.txt')))
df_04 = pd.read_csv(zf04.open('zbp04totals.zip'.replace('.zip','.txt')))
df_05 = pd.read_csv(zf05.open('zbp05totals.zip'.replace('.zip','.txt')))
df_06 = pd.read_csv(zf06.open('zbp06totals.zip'.replace('.zip','.txt')))
df_07 = pd.read_csv(zf07.open('zbp07totals.zip'.replace('.zip','.txt')))
df_08 = pd.read_csv(zf08.open('zbp08totals.zip'.replace('.zip','.txt')))
df_09 = pd.read_csv(zf09.open('zbp09totals.zip'.replace('.zip','.txt')))
df_10 = pd.read_csv(zf10.open('zbp10totals.zip'.replace('.zip','.txt')))
df_11 = pd.read_csv(zf11.open('zbp11totals.zip'.replace('.zip','.txt')))
df_12 = pd.read_csv(zf12.open('zbp12totals.zip'.replace('.zip','.txt')))
df_13 = pd.read_csv(zf13.open('zbp13totals.zip'.replace('.zip','.txt')))
df_14 = pd.read_csv(zf14.open('zbp14totals.zip'.replace('.zip','.txt')))

### Downloading geojson data and munging it

In [178]:
url = "https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/HW11_fb55/nyc-zip-code-tabulation-areas-polygons.geojson" 
response = ulr.urlopen(url)
data = response.read().decode("utf-8")
data = json.loads(data)

In [179]:
def great_NM_HH_function (json):
    """
    A function that retrieves information needed from the json data file and creates a dataframe
    """
    df=pd.DataFrame()
    df['geometry']=[]
    df['PO_NAME']=[]
    df['Shape_Leng']=[]
    df['Shape_Area']=[]
    df['borough']=[]
    df['postalCode']=[]
    
    for i in range(262):
        df = df.append({'geometry': Polygon(data['features'][i]['geometry']['coordinates'][0]),
                        'PO_NAME' : data['features'][i]['properties']['PO_NAME'],
                        'Shape_Area' : data['features'][i]['properties']['Shape_Area'],
                        'Shape_Leng' : data['features'][i]['properties']['Shape_Leng'],
                        'borough' : data['features'][i]['properties']['borough'],
                        'postalCode' : data['features'][i]['properties']['postalCode']
                       },ignore_index=True)

    return df

In [180]:
geo_df=great_NM_HH_function(data['features'])

In [181]:
geo_df=gpd.GeoDataFrame(geo_df)

In [182]:
geo_df.columns=['geometry', 'PO_NAME', 'Shape_Leng', 'Shape_Area', 'borough',
       'zip']

### Getting business zip data ready for merging

In [183]:
# selecting columns of interest
df_94=df_94.iloc[:,[0,6]]
df_95=df_95.iloc[:,[0,6]]
df_96=df_96.iloc[:,[0,6]]
df_97=df_97.iloc[:,[0,6]]
df_98=df_98.iloc[:,[0,6]]
df_99=df_99.iloc[:,[0,6]]
df_00=df_00.iloc[:,[0,6]]
df_01=df_01.iloc[:,[0,6]]
df_02=df_02.iloc[:,[0,6]]
df_03=df_03.iloc[:,[0,6]]
df_04=df_04.iloc[:,[0,6]]
df_05=df_05.iloc[:,[0,6]]
df_06=df_06.iloc[:,[0,6]]
df_07=df_07.iloc[:,[0,9]]
df_08=df_08.iloc[:,[0,9]]
df_09=df_09.iloc[:,[0,9]]
df_10=df_10.iloc[:,[0,9]]
df_11=df_11.iloc[:,[0,9]]
df_12=df_12.iloc[:,[0,9]]
df_13=df_13.iloc[:,[0,9]]
df_14=df_14.iloc[:,[0,9]]

In [184]:
# setting the same format for all names
df_98.columns=['zip','est']
df_99.columns=['zip','est']
df_00.columns=['zip','est']
df_01.columns=['zip','est']
df_02.columns=['zip','est']

### Merging data

In [185]:
# creating a list from all business zip dataframes
lis=[df_94,df_95,df_96,df_97,df_98,df_99,df_00,df_01,df_02,df_03,df_04,
     df_05,df_06,df_07,df_08,df_09,df_10,df_11,df_12,df_13,df_14]

In [186]:
# merging
for i in lis:
    if 'zip' in i.columns:
        i['zip']=i['zip'].astype(str)
        geo_df = pd.merge(left = geo_df, 
                             right= i, 
                             how = 'left', 
                             on = 'zip')

In [187]:
# creating a list to rename columns of dataframe
colums=['geometry', 'PO_NAME', 'Shape_Leng', 'Shape_Area', 'borough', 'zip']
years=range(1994,2015)
for i in years:
    colums.append(str(i))

In [188]:
geo_df.columns=colums

In [189]:
geo_df.head()

,geometry,PO_NAME,Shape_Leng,Shape_Area,borough,zip,1994,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,20624.692317,2.016328e+07,Queens,11372,1229.0,1236.0,1292.0,1309.0,...,1539.0,1527.0,1545.0,1538.0,1572.0,1629.0,1647.0,1724.0,1759.0,1768.0
1,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,23002.816039,2.260653e+07,Queens,11004,194.0,188.0,176.0,192.0,...,225.0,226.0,238.0,227.0,233.0,229.0,222.0,241.0,241.0,250.0
2,POLYGON ((-73.70098278625547 40.73889569923034...,New Hyde Park,15749.161511,6.269333e+06,Queens,11040,1422.0,1414.0,1335.0,1344.0,...,1441.0,1454.0,1488.0,1503.0,1475.0,1494.0,1488.0,1510.0,1539.0,1534.0
3,POLYGON ((-73.72270447144122 40.75373371438336...,Bellerose,35932.810639,4.941836e+07,Queens,11426,326.0,219.0,209.0,198.0,...,226.0,226.0,228.0,226.0,237.0,248.0,256.0,266.0,258.0,260.0
4,POLYGON ((-73.81088634744755 40.72717187575918...,Fresh Meadows,38693.565676,6.938587e+07,Queens,11365,492.0,476.0,483.0,522.0,...,604.0,608.0,617.0,616.0,628.0,643.0,677.0,679.0,714.0,731.0

In [190]:
geo_df.iloc[:, 6:].describe()
#describe()

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
count,255.000000,251.000000,252.000000,252.000000,252.000000,249.000000,253.000000,253.000000,252.000000,252.000000,...,254.000000,255.000000,256.000000,253.000000,253.000000,254.000000,253.000000,251.000000,251.000000,250.000000
mean,753.301961,780.446215,787.369048,806.873016,818.666667,834.686747,835.936759,835.790514,844.833333,854.678571,...,867.700787,869.533333,872.996094,889.162055,893.723320,903.842520,918.881423,942.980080,960.924303,979.932000
std,1126.814763,1159.086499,1160.771736,1185.509721,1196.503868,1198.974454,1215.367687,1219.853192,1185.377532,1185.936198,...,1210.201625,1216.154349,1199.140913,1199.305114,1184.002565,1184.687564,1190.480549,1204.430141,1216.102978,1226.936034
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6999.000000,7088.000000,7075.000000,7154.000000,7254.000000,7233.000000,7317.000000,7188.000000,7141.000000,7084.000000,...,7312.000000,7415.000000,7549.000000,7472.000000,7305.000000,7241.000000,7227.000000,7235.000000,7273.000000,7369.000000

### Whitening the data

In [ ]:
for year in geo_df.iloc[:, 6:]:
    for i in range(0, len(geo_df)):
        geo_df[year][i] = ((geo_df[year][i] - geo_df[year].mean()) / geo_df[year].std())

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [ ]:
geo_df.head()

In [ ]:
geo_df.iloc[:, 6:].mean()

In [ ]:
geo_df.iloc[:, 6:].std()

### Clustering

In [ ]:
geo_df.dropna(inplace=True)

In [ ]:
scaled_data = geo_df.iloc[:, 6:]

In [ ]:
# calculate silhouette score for deciding no. clusters
X=scaled_data
range_n_clusters = [3, 4, 5, 6, 7, 8, 9]
for n_clusters in range_n_clusters:
    km = cluster.KMeans(n_clusters=n_clusters, random_state=324) #the clustering model we choose (HH)
    cluster_labels = km.fit_predict(X)
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters ={},".format(n_clusters)+" the average silhouette_score is :{}".format(silhouette_avg))

We go with 3 clusters according to the calculated silhouette score

In [ ]:
n=3 # number of clusters.

#Kmeans
import sklearn.cluster as cluster
KM=cluster.KMeans(n_clusters=n)
KM.fit(scaled_data)
res_KM=KM.predict(scaled_data)

#merge the result with zipcodes for graph plotting
res_KM=pd.concat((geo_df.loc[:, 'zip'],pd.DataFrame(res_KM)),axis=1)
res_KM.columns = ['zip', 'cluster']
res_KM.head()

In [ ]:
print 'Number of zipcodes in first cluster: %d' %res_KM.groupby('cluster').size()[0]
print 'Number of zipcodes in second cluster: %d' %res_KM.groupby('cluster').size()[1]
print 'Number of zipcodes in third cluster: %d' %res_KM.groupby('cluster').size()[2]

In [ ]:
# merging cluster info
geo_df = pd.merge(left=geo_df, right=res_KM, how='left', on='zip')

In [ ]:
geo_df.plot(c=geo_df.cluster)